{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>DABADA Website Template</title>
		<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav-icon.png' %}" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		
		<!---start-login-script--->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/login.js' %}"></script>
		<!---//End-login-script--->
		<!-----768px-menu----->
		<link type="text/css" rel="stylesheet" href="{% static 'css/jquery.mmenu.all.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery.mmenu.js' %}"></script>
			<script type="text/javascript">
				//	The menu on the left
				$(function() {
					$('nav#menu-left').mmenu();
				});
		</script>
		<!-----//768px-menu----->
	</head>
	<body>
		<!---start-wrap---->
		<!------start-768px-menu---->
			<div id="page">
					<div id="header">
						<a class="navicon" href="#menu-left"> </a>
					</div>
					<nav id="menu-left">
						<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">소개</a></li>
								{% if user.is_authenticated %}
								<li><a href="{% url 'result' %}">맞춤장학조회</a></li>
								<li><a href="{% url 'register' %}">장학정보등록</a></li>
								{% else %}
								<li><a href="{% url 'need_login' %}">맞춤장학조회</a></li>
								<li><a href="{% url 'need_login' %}">장학정보등록</a></li>
								{% endif %}
								{% if user.is_superuser %}
								<li><a href="{% url 'manage' %}">장학관리</a></li>
								{% else %}
								<li><a href="{% url 'is_admin' %}">장학관리</a></li>
								{% endif %}
						</ul>
					</nav>
			</div>
		<!------start-768px-menu---->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<div class="header-left">
					<div class="logo">
						<a href="{% url 'index' %}">DABADA</a>
					</div>
				</div>
				<div class="header-right">
					<div class="top-nav">
					<ul>
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'about' %}">소개</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'result' %}">맞춤장학조회</a></li>
								<li><a href="{% url 'register' %}">장학정보등록</a></li>
							{% else %}
								<li><a href="{% url 'need_login' %}">맞춤장학조회</a></li>
								<li><a href="{% url 'need_login' %}">장학정보등록</a></li>
							{% endif %}
							{% if user.is_superuser %}
							<li><a href="{% url 'manage' %}">장학관리</a></li>
							{% else %}
							<li><a href="{% url 'is_admin' %}">장학관리</a></li>
							{% endif %}
					</ul>
				</div>
				<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<!---//End-header---->
			<!----//End-banner---->
			<!----start-content--->
			<div class="content">
				<div class="content-feature-grids">
					<div class="wrap"> 
						<h1><span>특수</span>장학조회</h1>
						<div class="service-grid">
								<table cellspacing="0" border="1" summary="게시판의 글제목 리스트" class="tbl_type">
										<caption>게시판 리스트</caption>
											<colgroup>
												<col width="30"><col width="80"><col>
												<col width="115"><col width="85"><col width="60">
											</colgroup>
										<thead>
											<tr>
												<th scope="col">장학번호</th>
												<th scope="col">장학명</th>
												<th scope="col">장학내용</th>
												<th scope="col">상세설명</th>
												<th scope="col">기간</th>
											</tr>
										</thead>
										<tbody>
											{% for row in result_table %}
											<tr>
												<td class="num">{{forloop.counter}}</td>
												<td class="title">{{row.name}}</td>
												<td class="name">{{row.benefit}}</td>
												<td class="created_date">{{row.spec}}</td>
												<td class="hits">{{row.period}}</td>
											</tr>
											{% endfor %}
										</tbody>
								</table>
								<div class="clear"> </div>
							</div>
					<div class="clear"> </div>
				</div>
				</div>
			</div>
				<!---start-bottom-footer-grids---->
				<div class="footer-grids">
					<div class="wrap">
						<div class="footer-grid">
							<h3>Quick Links</h3>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About Services</a></li>
								<li><a href="{% url 'login' %}">Login</a></li>
								<li><a href="{% url 'signup' %}">Sign Up</a></li>
							</ul>
						</div>
						<div class="footer-grid">
							<h3>More</h3>
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms and Conditions</a></li>
							</ul>
						</div>
						<div class="footer-grid">
							<h3>Connect With Us</h3>
							<ul class="social-icons">
								<li><a class="facebook" href="#"> </a></li>
								<li><a class="twitter" href="#"> </a></li>
								<li><a class="youtube" href="#"> </a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!---//End-bottom-footer-grids---->
			</div>
			<!----//End-content--->
		<!---//End-wrap---->
	</body>
</html>

